@model HastaneGD1.Models.Randevu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Randevu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HastaAdi" class="control-label"></label>
                <input asp-for="HastaAdi" class="form-control" />
                <span asp-validation-for="HastaAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HastaSoyadi" class="control-label"></label>
                <input asp-for="HastaSoyadi" class="form-control" />
                <span asp-validation-for="HastaSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandevuTarihi" class="control-label"></label>
                <input asp-for="RandevuTarihi" class="form-control" />
                <span asp-validation-for="RandevuTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoktorAdi" class="control-label"></label>
                <input asp-for="DoktorAdi" class="form-control" />
                <span asp-validation-for="DoktorAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoliklinikAdi" class="control-label"></label>
                <input asp-for="PoliklinikAdi" class="form-control" />
                <span asp-validation-for="PoliklinikAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durum" class="control-label"></label>
                <input asp-for="Durum" class="form-control" />
                <span asp-validation-for="Durum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
